body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
}
.logo {
    font-family: "Raleway", sans-serif;
}
.contacts nav ul {
    list-style: none;
    padding: 12px;
    margin: 0;
}
.contacts nav a {
    color: #2E2F42;
    font-size: 16px;
    text-decoration: none;
}
.contacts-personel ul li a:hover,
.contacts-personel ul li a:focus {
    color: #404BBF;
    font-size: 16px;
}
.contacts nav a:hover,
.contacts nav a:focus {
    color: #404BBF;
}

.contacts address a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.contacts nav a:hover,
.contacts nav a:focus {
    color: #404BBF;
}

.logo {
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
}
.contacts .website-name {
    font-size: 24px;
    color: #4D5AE5;
    text-decoration: none;
}
.intro {
    background-color: black;
}
.intro-title {
    color: white;
    font-size: 56px;
    font-weight: 700;
    margin-top:0;
    text-align: center;
}

.intro-button {
    color:white;
    background-color: #4D5AE5;
    cursor: pointer;
}
.intro-button:hover,
.intro-button:focus {
    background-color: #404BBF;
}
.bottom {
    background-color: black;
}
.bottom .website-name {
    font-size: 20px;
    color: blue;
}
.logo-button {
    font-size: 20px;
    color: white;
    text-decoration: none;
        
}
.bottom-paragraf {
    color: white;
    font-size: 14px;
    margin-top: 10px;

}
main ul {
    list-style: none;
        padding: 10px 0 0 20px;
        margin: 0;
}
.our-team {
    text-align: center;
    font-size: 36px;
    background-color: #f4f4fd;
}
.team {
    background-color: #f4f4fd;
}
.our-team {
    text-align: center;
    margin-bottom: 30px;
}
.team-list {
    list-style: none;
    padding: 0;
}
.team-card {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 14px;
    margin-left: 30px;
    text-align: center;
    border-radius: 4px;
}
.team-card img {
    display: block;
    margin-bottom: 16px;
}
.name {
    text-align: center;
}
.specialty {
    text-align: center;
}
.team-portfolio {
    text-align: center;
    font-size: 36px;
}